In [7]:
import os

In [36]:
path="Jan to Mar"

In [27]:
os.listdir(path)[0]

'INV-117_Naman.pdf'

In [30]:
import PyPDF2

def extract_text_from_pdf(pdf_path):
  with open(pdf_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)
    text = ""
    for page_num in range(len(pdf_reader.pages)):
      page = pdf_reader.pages[page_num]
      text += page.extract_text()
    return text

TA X  I N V O I C E O R I G I N A L  F O R  R E C I P I E N T
UNCUE DERMACARE PRIVATE LIMITED
GSTIN 23AADCU2395N1ZY
C/o KARUNA GUPTA KURELE, 1st Floor
S.P Bungalow Ke Pichhe, Shoagpur Shahdol, Shahdol
Shahdol, MADHYA PRADESH, 484001
Mobile +91 8585960963   Email ruhi@dermaq.in
Invoice #: INV-117 Invoice Date: 01 Feb 2024 Due Date: 29 Jan 2024
Customer Details:
Naman
Place of Supply:
23-MADHYA PRADESH
#Item Rate / Item QtyTaxable ValueTax AmountAmount
1Kera M 5% Solution 492.86
616.07 (-20%)1 BTL492.8659.14 (12%)552.00
2Arachitol Nano (60k) 4*5ml  299.58
340.43 (-12%)3 BTL898.73107.85 (12%)1,006.58
3Neurobion Forte - 30 tablets   30.58
34.75 (-12%)3 STRP91.7316.51 (18%)108.24
Taxable Amount ₹1,483.32
CGST 6.0% ₹83.50
SGST 6.0% ₹83.50
CGST 9.0% ₹8.26
SGST 9.0% ₹8.26
Round Off 0.18
Total₹1,667.00
Total Discount ₹290.02
Total Items / Qty : 3 / 7.000 Total amount (in words):  INR One Thousand, Six Hundred And Sixty-Seven Rupees Only .
Amount Paid
Pay using UPI:
Bank Details:
Bank:Kotak Mahindra Bank
Account #: 1146860541
IFSC Code: kkbk0000725
Branch: PUNE - CHINCHWAD
UnCue Dermacare Pvt LtdFor UNCUE DERMACARE PRIVATE LIMITED
Authorized Signatory
Swipe | Simple Invoicing, Billing and Payments | Visit getswipe.in
Page 1 / 1 This is a computer generated document and requires no signature.Powered By

In [52]:
len(a)

24

In [58]:
def divide(text):
    line=text.splitlines()
    line=line[2:]
    for i in range(len(line)):
        if line[i]=='Amount Paid':
            line=line[:i]
        break
    return line

In [95]:
lines=[]
for i in range(len(a)):
    lines.append(divide(a[i]))

In [63]:
import numpy as np

In [204]:

def info(line):
    customer_info=[]
    for i in range (len(line)):
        if line[i]=='#Item Rate / Item QtyTaxable ValueTax AmountAmount':
            for j in range(i):
                customer_info.append(line[j])
            break
    for i in range(len(customer_info)):
        if customer_info[i]=='Customer Details:':
            customer_name=customer_info[i+1]
   
    invoice_number=customer_info[5].split(' ')[2]
    Invoice_date=" ".join(customer_info[5].split(' ')[5:8])
    Due_date=" ".join(customer_info[5].split(' ')[10:14])
    return customer_name, invoice_number, Invoice_date, Due_date

In [206]:
customer_name=[]
invoice_number=[]
Invoice_date=[]
Due_date=[]

for i in range (len(lines)):
    
    customer_name.append(info(lines[i])[0])
    invoice_number.append(info(lines[i])[1])
    Invoice_date.append(info(lines[i])[2])
    Due_date.append(info(lines[i])[3])

In [211]:
Customer_Info={"customer_name":customer_name,"invoice_number":invoice_number,"Invoice_date":Invoice_date,"Due_date":Due_date}

In [213]:
import pandas as pd

In [214]:
Customer_Info=pd.DataFrame.from_dict(Customer_Info)

In [215]:
Customer_Info

        customer_name invoice_number Invoice_date     Due_date
0               Naman        INV-117  01 Feb 2024  29 Jan 2024
1               Rashu        INV-118  30 Jan 2024  30 Jan 2024
2         Jitesh Soni        INV-121  29 Jan 2024  29 Jan 2024
3                Asit        INV-123  08 Feb 2024  08 Feb 2024
4       Ankita Sattva        INV-124  10 Feb 2024  10 Feb 2024
5        Avik Mallick        INV-127  23 Feb 2024  23 Feb 2024
6          Atia Latif        INV-128  23 Feb 2024  23 Feb 2024
7        Divya Suhane        INV-129  23 Feb 2024  23 Feb 2024
8       Sheetal Kapur        INV-133  01 Mar 2024  01 Mar 2024
9       Sheetal Kapur        INV-134  01 Mar 2024  01 Mar 2024
10     Mohith Saragur        INV-135  01 Mar 2024  01 Mar 2024
11     Rishabh Ramola        INV-136  15 Feb 2024  04 Mar 2024
12     Agrani Kandele        INV-138  06 Mar 2024  06 Mar 2024
13              Ankit        INV-140  06 Mar 2024  06 Mar 2024
14     Kasturi Kalwar        INV-141  06 Mar 2024  06 Mar 2024
15      Urmila Jangam        INV-142  07 Mar 2024  07 Mar 2024
16           Prashant        INV-143  28 Mar 2024  28 Mar 2024
17         Atia Latif        INV-144  28 Mar 2024  28 Mar 2024
18     Indraja Mohite        INV-145  28 Mar 2024  28 Mar 2024
19  Abhikaran Jalonha        INV-146  29 Mar 2024  29 Mar 2024
20       Divya Suhane        INV-147  29 Mar 2024  29 Mar 2024
21    harshit rathore        INV-148  30 Mar 2024  01 Apr 2024
22     Karishma Bande        INV-149  22 Mar 2024  01 Apr 2024
23      Bhusan Naresh        INV-150  22 Mar 2024  01 Apr 2024

In [216]:
Customer_Info.to_excel("Customer_info.xlsx", index=False)

In [218]:
lines[1]

['GSTIN 23AADCU2395N1ZY     ',
 'C/o KARUNA GUPTA KURELE, 1st Floor',
 'S.P Bungalow Ke Pichhe, Shoagpur Shahdol, Shahdol',
 'Shahdol, MADHYA PRADESH, 484001',
 'Mobile +91 8585960963   Email ruhi@dermaq.in',
 'Invoice #: INV-118 Invoice Date: 30 Jan 2024 Due Date: 30 Jan 2024',
 'Customer Details:',
 'Rashu',
 'Place of Supply: ',
 '23-MADHYA PRADESH',
 '#Item Rate / Item QtyTaxable ValueTax AmountAmount',
 '1Vitamin b12 test  350.00 1350.000.00 (0%)350.00',
 'Taxable Amount ₹350.00',
 'Total ₹350.00',
 'Total Items / Qty : 1 / 1.000 Total amount (in words): \xa0INR Three Hundred And Fifty Rupees Only .',
 'Amount Paid',
 'Pay using UPI: ',
 'Bank Details:',
 'Bank:Kotak Mahindra Bank',
 'Account #: 1146860541',
 'IFSC Code: kkbk0000725',
 'Branch: PUNE - CHINCHWAD',
 'UnCue Dermacare Pvt LtdFor UNCUE DERMACARE PRIVATE LIMITED  ',
 'Authorized Signatory ',
 'Swipe | Simple Invoicing, Billing and Payments | Visit getswipe.in',
 'Page 1 / 1 This is a computer generated document and requires no signature.Powered By']

In [232]:
def spreadsheet(line):
    spreadsheet=[]
    for i in range (len(line)):
        if line[i]=='#Item Rate / Item QtyTaxable ValueTax AmountAmount':
            for j in range(i+1,len(line)):
                spreadsheet.append(line[j])
            break
    
    return spreadsheet

In [231]:
spreadsheet(lines[1])

['1Vitamin b12 test  350.00 1350.000.00 (0%)350.00',
 'Taxable Amount ₹350.00',
 'Total ₹350.00',
 'Total Items / Qty : 1 / 1.000 Total amount (in words): \xa0INR Three Hundred And Fifty Rupees Only .',
 'Amount Paid',
 'Pay using UPI: ',
 'Bank Details:',
 'Bank:Kotak Mahindra Bank',
 'Account #: 1146860541',
 'IFSC Code: kkbk0000725',
 'Branch: PUNE - CHINCHWAD',
 'UnCue Dermacare Pvt LtdFor UNCUE DERMACARE PRIVATE LIMITED  ',
 'Authorized Signatory ',
 'Swipe | Simple Invoicing, Billing and Payments | Visit getswipe.in',
 'Page 1 / 1 This is a computer generated document and requires no signature.Powered By']

In [531]:
spreadsheets=[]
for i in range(len(lines)):
    spreadsheets.append(spreadsheet(lines[i]))

['1Vitamin b12 test  350.00 1350.000.00 (0%)350.00',
 'Taxable Amount ₹350.00',
 'Total ₹350.00',
 'Total Items / Qty : 1 / 1.000 Total amount (in words): \xa0INR Three Hundred And Fifty Rupees Only .',
 'Amount Paid',
 'Pay using UPI: ',
 'Bank Details:',
 'Bank:Kotak Mahindra Bank',
 'Account #: 1146860541',
 'IFSC Code: kkbk0000725',
 'Branch: PUNE - CHINCHWAD',
 'UnCue Dermacare Pvt LtdFor UNCUE DERMACARE PRIVATE LIMITED  ',
 'Authorized Signatory ',
 'Swipe | Simple Invoicing, Billing and Payments | Visit getswipe.in',
 'Page 1 / 1 This is a computer generated document and requires no signature.Powered By']

In [557]:
Item=[]
Item1=[]
Item_price=[]
for k in range (len(spreadsheets)):
    item_quantity=[]
    item=[]
    item2=[]
    item_price=[]
    for i in range(len(spreadsheets[k])):
        if i%2==0:
            item_price.append(spreadsheets[k][i].split(" ")[-1])
            item.append(" ".join(spreadsheets[k][i].split(" ")[:-1]))
    
    for i in range (0,len(item)):
        if item[i]=="Total":
            item2.append((item[:i]))
            break
        if item[i]=="Taxable Amount":
            item2.append((item[:i]))
            break
        if item[i]=="Taxable Amount"+" ":
            item2.append((item[:i]))
            break
    
    Item_price.append(item_price)
    Item1.append(item)
    Item.append(item2)

In [1008]:

for i in range(len(Item)):
    if Item[i]==[]:
        Item[i]=["Error"]

In [1002]:
Item

[[['1Kera M 5% Solution',
   '2Arachitol Nano (60k) 4*5ml ',
   '3Neurobion Forte - 30 tablets  ']],
 [['1Vitamin b12 test  350.00 1350.000.00']],
 [['1Acne-UV Gel - spf 50 (50 gm) ', '2Arachitol Nano (60k) 4*5ml ']],
 [['1Arachitol Nano (60k) 4*5ml ', '2Neurobion Forte - 30 tablets  ']],
 [['1Arachitol Nano (60k) 4*5ml  340.433 BTL1,021.29122.55']],
 ['Error'],
 ['Error'],
 [['1sotret nf 16 mg - 10 capsules ', '2Ekran Aqua Sunscreen Spf 30 ']],
 [['1Glogeous facewash',
   '2Bristaa Intense Cream ',
   '3Anaboom AD Lotion - 50 ml ',
   '4Anaboom AD Shampoo ',
   '5Acutret 5 mg']],
 [['1ATODERM Moisturiser ']],
 [['1Tab flucon 400mg ',
   '2Lupizol ZS Shampoo 100 ml ',
   '3Anaboom AD Lotion - 50 ml ']],
 [['1Solasafe sunscreen gel spf 50 ']],
 [['1Cetaphil Gentle Cleansing Lotion - Oily',
   '461.86 (-10%)1 BTL415.6874.82',
   '600.85 (-20%)1480.6886.52',
   'gm']],
 [['1Keraglo Men Tablet - 30 tablets ', '2Kera-FM 5% Topical Solution ']],
 ['Error'],
 [['1Kera XL New Hair Growth Serum ']],
 [['1Arachitol 317.86 72,225.00267.00', '2,542.37']],
 [['1Bioderma Pigmentbio C-concentrate ',
   '2Arachitol Nano (60k) 4*5ml ',
   '3Solasafe sunscreen gel spf 50 ',
   '4Lab test - full body checkup  2,000.00 36,000.000.00']],
 ['Error'],
 [['1Cetaphil DAM Advance',
   '438.98 (-10%)1 TUB395.0871.12',
   'Face Wash Gel',
   '3Acutret 20 mg - 10 capsules ',
   '4 Faireye under eye cream ',
   '5Biluma cream - 15 gm ']],
 [['1Solasafe sunscreen gel spf 50 ',
   '2Trapic 500 TA - 10 ',
   '3Depiwhite Advanced Cream - 15 ml ',
   '4Fixderma Shadow SPF 50+ Cream ',
   '5Sortet F 16 mg - 10 cap ']],
 [['1Zincovit tablet ', '2Sevenseas Cap']],
 [['1Excela Moisturiser - 50 gm ']],
 ['Error']]

In [1007]:
Tax_price=[]
for k in range(len(Item)):
    tax_price=[]
    for i in range(2*len(Item[k][0])):
         if i%2is not 0:
             tax_price.append((spreadsheets[k][i].split(" ")[-1].split(")")[-1]))
             
             
        
    Tax_price.append(tax_price)

<>:5: SyntaxWarning: invalid decimal literal
<>:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:5: SyntaxWarning: invalid decimal literal
<>:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\marji\AppData\Local\Temp\ipykernel_11312\615020671.py:5: SyntaxWarning: invalid decimal literal
  if i%2is not 0:
C:\Users\marji\AppData\Local\Temp\ipykernel_11312\615020671.py:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  if i%2is not 0:

In [738]:
Tax_price[1]

['₹350.00']

In [741]:
Tax_price[0][1]

'1,006.58'

In [1042]:
l=[]
dict={}
for k in range(len(Item)):
    
    for i in range(len(Item[k][0])):
        dict[Item[k][0][i]]=Tax_price[k][i]
    l.append(dict)
    dict={}

In [1075]:
l[0]

{'1Kera M 5% Solution': '552.00',
 '2Arachitol Nano (60k) 4*5ml ': '1,006.58',
 '3Neurobion Forte - 30 tablets  ': '108.24'}

In [1077]:
df = pd.DataFrame(l)

In [1079]:
o=[]

for i in range(len(l)):
    do = pd.DataFrame({'Products': l[i].keys(), 'Price': l[i].values()})
    for j in range(len(Item[i][0]),len(df)):
        df.drop([j],axis=0,inplace=True)
    o.append(do)

In [1080]:
o

[                          Products     Price
 0              1Kera M 5% Solution    552.00
 1     2Arachitol Nano (60k) 4*5ml   1,006.58
 2  3Neurobion Forte - 30 tablets      108.24,
                                 Products    Price
 0  1Vitamin b12 test  350.00 1350.000.00  ₹350.00,
                          Products   Price
 0  1Acne-UV Gel - spf 50 (50 gm)   686.25
 1    2Arachitol Nano (60k) 4*5ml   324.09,
                           Products     Price
 0     1Arachitol Nano (60k) 4*5ml   1,006.58
 1  2Neurobion Forte - 30 tablets      108.24,
                                             Products   Price
 0  1Arachitol Nano (60k) 4*5ml  340.433 BTL1,021....  123.00,
   Products    Price
 0        E   397.50
 1        r        .
 2        o  ₹944.00,
   Products    Price
 0        E
 1        r     Paid
 2        o  ₹550.00,
                           Products   Price
 0  1sotret nf 16 mg - 10 capsules   950.40
 1    2Ekran Aqua Sunscreen Spf 30   316.80,
                       Products   Price
 0           1Glogeous facewash  926.50
 1      2Bristaa Intense Cream   884.94
 2  3Anaboom AD Lotion - 50 ml   275.40
 3         4Anaboom AD Shampoo   342.32
 4                5Acutret 5 mg  272.76,
                 Products   Price
 0  1ATODERM Moisturiser   854.05,
                       Products   Price
 0           1Tab flucon 400mg    79.94
 1  2Lupizol ZS Shampoo 100 ml   414.30
 2  3Anaboom AD Lotion - 50 ml   299.20,
                           Products     Price
 0  1Solasafe sunscreen gel spf 50   1,134.40,
                                    Products   Price
 0  1Cetaphil Gentle Cleansing Lotion - Oily  415.68
 1             461.86 (-10%)1 BTL415.6874.82  480.68
 2                 600.85 (-20%)1480.6886.52
 3                                        gm  447.20,
                             Products   Price
 0  1Keraglo Men Tablet - 30 tablets   564.00
 1      2Kera-FM 5% Topical Solution   583.96,
   Products           Price
 0        E          732.00
 1        r  Total₹1,754.00
 2        o         ₹133.74,
                           Products     Price
 0  1Kera XL New Hair Growth Serum   1,032.00,
                             Products     Price
 0  1Arachitol 317.86 72,225.00267.00  2,169.49
 1                           2,542.37  5,120.00,
                                             Products      Price
 0                1Bioderma Pigmentbio C-concentrate    2,789.10
 1                       2Arachitol Nano (60k) 4*5ml      671.05
 2                    3Solasafe sunscreen gel spf 50    1,595.25
 3  4Lab test - full body checkup  2,000.00 36,000...  12,992.00,
   Products           Price
 0        E        2,080.80
 1        r               .
 2        o  Total₹2,141.00,
                         Products     Price
 0          1Cetaphil DAM Advance    395.08
 1  438.98 (-10%)1 TUB395.0871.12
 2                  Face Wash Gel    656.48
 3  3Acutret 20 mg - 10 capsules   1,387.20
 4     4 Faireye under eye cream     821.04
 5         5Biluma cream - 15 gm     545.60,
                              Products     Price
 0     1Solasafe sunscreen gel spf 50     531.75
 1                2Trapic 500 TA - 10     513.74
 2  3Depiwhite Advanced Cream - 15 ml     585.20
 3     4Fixderma Shadow SPF 50+ Cream     484.00
 4           5Sortet F 16 mg - 10 cap   1,900.80,
             Products   Price
 0  1Zincovit tablet   554.40
 1     2Sevenseas Cap  679.36,
                        Products   Price
 0  1Excela Moisturiser - 50 gm   437.36,
   Products    Price
 0        E   394.51
 1        r        .
 2        o  ₹466.00]

In [1081]:

for i in range(len(o)):
        list=[str((Customer_Info[['customer_name']].iloc[i])).split(" ")[4][:-6]]
        o[i]["customer_name"]=list*len(o[i])

In [1082]:
data=[]
d3 = pd.DataFrame(data)
d3=pd.concat(o)

In [1083]:
d3

                                 Products     Price customer_name
0                     1Kera M 5% Solution    552.00         Naman
1            2Arachitol Nano (60k) 4*5ml   1,006.58         Naman
2         3Neurobion Forte - 30 tablets      108.24         Naman
0   1Vitamin b12 test  350.00 1350.000.00   ₹350.00         Rashu
0          1Acne-UV Gel - spf 50 (50 gm)     686.25
..                                    ...       ...           ...
1                          2Sevenseas Cap    679.36             h
0            1Excela Moisturiser - 50 gm     437.36            Ka
0                                       E    394.51
1                                       r         .
2                                       o   ₹466.00

[63 rows x 3 columns]

In [1084]:
d3.to_excel("output.xlsx",sheet_name='Sheet_name')